#about-content-div {
    text-align: left;
}

#about-section-summary {
    width: min(630px, 80vw);
}

#about-section{
    padding-bottom: 10vh;
    padding-top: 5vh;
}

span {
    color: var(--secondary);
    font-weight: bolder;
}