.flex-container {
    display: flex;
    flex-wrap: wrap;
    direction: ltr;
    padding-top: 0vh;
}
  
.project {
    background-color: var(--primary);
    margin: 5vh;
    padding: 5vh;
    font-size: 3vh;
    display: inline-block;
    max-height: 855px;
    overflow: auto;
    scrollbar-width: thin;
}

.project::-webkit-scrollbar {
    width: 5px;
}

.project::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

h2{
    color: var(--primary);
    font-family: var(--primary-font);
    font-size: 5vh;
    line-height: 1;
    padding-left: 5vh;
    padding-top: 10vh;
}

.project-title{
    font-family: var(--secondary-font);
    max-width: min(630px, 77vw);
    font-weight: 800;
    color: var(--secondary);
    font-size: 4vh;
}

.logo{
    height: 3vh;
}

.project-image{
    max-width: min(630px, 77vw);
    min-width: 10vw;
    object-fit: contain;
    border-width: 3px;
    border-color: var(--tertiary);
    border-style: solid;
    padding: 0 0 0 0;
}

@media only screen and (max-width: 920px) {
    .project { max-height: fit-content; margin-left: 1vw; margin-right: 1vw; padding: 5vw;}
}